version: "3.9"

services:
  backend:
    build: ./backend
    container_name: ecommerce-backend
    env_file: .env
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/${POSTGRES_DB}
      SPRING_DATASOURCE_USERNAME: ${POSTGRES_USER}
      SPRING_DATASOURCE_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "8080:8080"
    depends_on:
      - postgres
      - rabbitmq


  frontend:
    build: ./frontend
    container_name: ecommerce-frontend
    ports:
      - "8082:80"
    depends_on:
      - backend

  postgres:
    image: postgres:15
    container_name: ecommerce-postgres
    env_file: .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  rabbitmq:
    image: rabbitmq:3-management
    container_name: ecommerce-rabbitmq
    env_file: .env
    ports:
      - "5672:5672"
      - "15672:15672"

volumes:
  postgres_data:
